<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>OOPS</h1>
        <h2>We encountered an error while processing your request. Never mind, please try again later!</h2>
    </hgroup>
</body>
</html>
